<!DOCTYPE html>
<html>
<head>
  <title>Tu juego</title>
  <style>
    body {
      background-color: #281C2D;
      color: white; 
    }
  </style>
</head>
<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div id="progressBar1" class="progress-bar" style="width: 100%; background-color: green"></div>
</div>

<p id="dañorecjug1"></p> <p id="dañorecjug2"></p>

      <body onload="Empezar('@ViewBag.Cartas','@ViewBag.Cartas2')"></body>
  @{int i = 0;}
<div id="wrappercartas">
 
  <div id="cartasjugador1">
    @while(i<ViewBag.Cartas1.Count){

<div class="separacionCarta" id='lugarCarta_@i'>
      <div id ="@i">
        
                                                 
        <button onclick='TirarCarta(@i, "cartas1", puedeTirar1)' class="Boton"> 

          <div class="card" style="width: 18rem;" id="@i">
            <div class="card-body">
               <img src="@ViewBag.Cartas1[i].ImagenCarta" class="card-img-top" alt="..." id='cartaImagen_@i' />
               
              <h5 id='cartaNombre_@i' class="card-title">@ViewBag.Cartas1[i].nombre</h5>
              <p class="card-text" id= "tipoCarta_@i" >@ViewBag.Cartas1[i].tipoCarta</p>
              
            </div>
            <ul class="list-group list-group-flush">
            <li id='puntosAtaque_@i' class="list-group-item danio">@ViewBag.Cartas1[i].puntosAtaque</li>
            <li id='puntosDefensa_@i' class="list-group-item defenza">@ViewBag.Cartas1[i].puntosDefensa</li>
            </ul>
            <div class="card-body">
            </div>             
        </button>
      </div>


      </div>
      i++;
    } 
  </div>

@* añadir imagen de espadita y escudito a ambos dados*@
<span id="dañototal1"></span>
  <div id="dado1" class="dado">
    <span class="spannum" id="spannum1"></span>
    <br>
    <div><span class="spandanio" id="spandanio1"></span></div>
    <br>
    <div><span class="spandefensa" id="spandefensa1"></span></div>
  </div>



<div id="skibidinodigashtoilet">
<div id="gameover" hidden>
  <h1>CARD OVER!</h1>
  <h2 id="ganador"></h2>
  @* esto tambien deberia recargar las cartas idea *@
  <button onclick="VolverAEmpezar()">Volver a empezar</button>
  <button onclick="location.href='@Url.Action("Index", "Home")'">Ir al menú</button>
  </div>
  
  
  <div id="divdelmedio" style="border:1px solid black">
  
  </div>
  
  
  <button onclick="TirarDado()" type="button" class="btn btn-primary">
    Tirar Dado
  
  </button>
</div>

  <div id="dado2" class="dado">
    <span class="spannum" id="spannum2"></span>
    <br>
    <span class="spandanio" id="spandanio2"></span>
    <br>
    <span class="spandefensa" id="spandefensa2"></span>
  </div>

<span id="dañototal2"></span>
  @{int j = 0;}
  <div id="cartasjugador2">
    @while(j<ViewBag.Cartas2.Count){
<div class="separacionCarta" id='lugarCarta_@i'>
      <div id = "@i">
        

          <button onclick='TirarCarta(@i, "cartas2", puedeTirar2)' class="Boton">

            <div class="card" style="width: 18rem;" id="@i">
            <div class="card-body">
              <img src="@ViewBag.Cartas2[j].ImagenCarta" class="card-img-top" alt="..." id='cartaImagen_@i' />
              


              <h5 id='cartaNombre_@i' class="card-title">@ViewBag.Cartas2[j].nombre</h5>
              <p class="card-text" id= "tipoCarta_@i" >@ViewBag.Cartas2[j].tipoCarta</p>
              @* <p class="card-text">@ViewBag.Cartas2[j].ImagenCarta</p> *@
            </div>
            <ul class="list-group list-group-flush">
            <li id='puntosAtaque_@i' class="list-group-item danio">@ViewBag.Cartas2[j].puntosAtaque</li>
            <li id='puntosDefensa_@i' class="list-group-item defenza">@ViewBag.Cartas2[j].puntosDefensa</li>
            </ul>
            <div class="card-body">
            </div>
</div>





          </button>
        </div>


      </div>
       i++;
        j++;
    }
  

  </div>
</div>

<div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div id="progressBar2" class="progress-bar" style="width: 100%; background-color: green"></div>
</div>



<div class="modal fade" id="idModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">DADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body listaPeronista">
        <div id="num1">se sobreescribe</div>
        <div id="daño1"></div>
        <div id="defensa1"></div>
        <div id="num2"></div>
        <div id="daño2"></div>
        <div id="defensa2"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="idModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal2titulo">MUERTE SUBITA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body listaPeronista">
        Muerte subita! En el proximo turno, quien haga mas daño en total ganara la partida!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="divTodasLasCartas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<img src = "pilonDeCartas">
</div>





<p id="puedeTirar1" hidden="true">verdadero</p>
<p id="puedeTirar2" hidden="true">verdadero</p>
<audio id="musica" onended="Soundtrack(musica)" src="https://vgmsite.com/soundtracks/plants-vs.-zombies/bgtwdvngxd/04.%20Grasswalk.mp3" autoplay allow="autoplay" >

</audio>
<p id="cartaTirada1" hidden="true"></p>
<p id="cartaTirada2" hidden="true"></p>
