<div> 
</div>


@{int i = 0;}
@while(i<ViewBag.Cartas1.Count){

<button onclick='TirarCarta(@i, "cartas1")'>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="cartas1 @i">
  <div class="card-header">@ViewBag.Cartas1[i].nombre</div>
  <div class="card-body">
    <h5 class="card-title">@ViewBag.Cartas1[i].nombre</h5>
    <p class="card-text">@ViewBag.Cartas1[i].puntosAtaque</p>
    <p class="card-text">@ViewBag.Cartas1[i].puntosDefensa</p>
</div>
</button>
@{i++;}
} 

@while(i<ViewBag.Cartas2.Count){

<button onclick='TirarCarta(@i, "cartas2")'>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;" id="cartas2 @i">
  <div class="card-header">@ViewBag.Cartas2[i-4].nombre</div>
  <div class="card-body">
    <h5 class="card-title">@ViewBag.Cartas2[i-4].nombre</h5>
    <p class="card-text">@ViewBag.Cartas2[i-4].puntosAtaque</p>
    <p class="card-text">@ViewBag.Cartas2[i-4].puntosDefensa</p>
</div>
</button>
@{i++;}
}


<div id="divdelmedio" style="border:1px solid black">


<button onclick="TirarDado(@ViewBag.Cartas1, @ViewBag.Cartas2)">Tirar Dado</button>
</div>

<button onclick="Duelo()">
Iniciar
</button>


<script>
 

</script>